@font-face {
    font-family: 'Century Gothic';
    /* Century Gothic
    Century Gothic Bold
    Century Gothic Bold Italic
    Century Gothic Italic */
    src: url('./assets/font/CenturyGothic.ttf') format('truetype');
    /* Optionally, you can specify font-weight and font-style here */
}

body {
  
    font-family: 'Century Gothic', sans-serif;
    overflow-x: hidden;

}

*{
    font-family: 'Century Gothic', sans-serif;
}