.mainBgColor{
    background-color: rgb(50, 115, 255) !important;
    color: #fff !important;
}

.wshcmFormContainer{
    height: 80vh;
   overflow: auto;
}

.cursor_pointer{
    cursor: pointer;
}
.fileName:hover{
    color: #04335E;
    font-weight: 800;
}
.downloadIcon{
    height: 25px;
    width: 25px;
}
.downloadIcon:hover{
    background: rgb(135, 255, 135);
}


.actionIcon{
    height: 35px;
    width: 35px;
}
.actionIcon:hover{
    background-color: rgb(214, 214, 214);
}
.deleteIcon{
    color: red;
}
.deleteIcon:hover{
    background-color: rgb(255, 184, 184);
}

.exportPdf:hover{
    background-color: #8ff4ff5b !important;
    font-weight: 800;
    
}

.loadingImg{
    height: 20px;
}
.wshcmFormTable{
    height: 500px;
    overflow-y: scroll;
    /* overflow-x: scroll; */
}


.addCertificateIconBox{
    height: 30px;
    width: 30px;
}
.addCertificateIconBox:hover{
    background: rgb(167, 167, 167);
}
.addCertificateIcon{
   
    font-size: 25px;
}

.refreshIcon{
    height: 25px;
    width: 25px;
}

.refreshBox:hover{
    background: rgb(226, 226, 226);
}

/* ---------------------------------------- */

.modal-body {
    padding: 20px;
  }
  
  .data-list {
    list-style: none;
    padding: 0;
    margin: 0;
  }
  
  .data-list li {
    margin-bottom: 10px;
    display: flex;
    justify-content: space-between;
  }

  .editModal .modal-body{
      overflow-x: auto;
  }
  

  /* ---------------Sidebar---------------------- */

  

  
  /* .list-group-item:hover , .accordion-item:hover , .accordion-button:hover{
      background-color: #8ff4ff5b !important;
      color: #fff !important;
  } */

  
  .esLogoAdminpanel{
      height: 37px;
  }

  /* #sidebar-wrapper{
      background-color: #04335E !important;
      color: #12CBE0 !important;
      border: none !important;
      outline: 0 !important;
  } */
  /* .list-group-item {
      background-color: #04335E ;
      color: #12CBE0 !important;
      font-weight: 700;
      border: none !important;
      outline: 0 !important;
  } */
  /* .list-group, .accordion-button , .accordion-collapse{
      background-color: #04335E ;
      color: #12CBE0 !important;
      font-weight: 700;
      border: none !important;
      outline: 0 !important;
  } */
  
  /* .accordion-item , .list-group-item:last-child {
     border: none !important;
     outline: 0 !important;
     border-radius: none !important;
  } */

  /* .accordion-body , .accordion-collapse{
      border: none !important;
      outline: 0 !important;
  }

  .accordion-button:focus {
 
    border-color: none !important;
    outline: 0;
    box-shadow: none !important;
} */


.formTableCustom thead{
    background-color: #084e8f;
    color: #fff;
    text-align: center;
}
.formTableCustom tbody tr:hover{
    background-color: #8ff4ff5b !important;
    color: #fff !important;
}
/* .formTableCustom thead tr th{
    vertical-align: center;
    
} */
